.uagb-block-e3a12383-2225-4438-b7e4-09ecf378d4f3 .uagb-post__items {margin-right: -10px;margin-left: -10px;}
.uagb-block-e3a12383-2225-4438-b7e4-09ecf378d4f3 .uagb-post__items article {padding-right: 10px;padding-left: 10px;margin-bottom: 20px;}
.uagb-block-e3a12383-2225-4438-b7e4-09ecf378d4f3 .uagb-post__inner-wrap {background: #e4e4e4;}
.uagb-block-e3a12383-2225-4438-b7e4-09ecf378d4f3 .uagb-post__text {padding: 20px;text-align: left;}
.uagb-block-e3a12383-2225-4438-b7e4-09ecf378d4f3 .uagb-post__text .uagb-post__title {color: #3b3b3b;margin-bottom: 50px;}
.uagb-block-e3a12383-2225-4438-b7e4-09ecf378d4f3 .uagb-post__text .uagb-post__title a {color: #3b3b3b;}
.uagb-block-e3a12383-2225-4438-b7e4-09ecf378d4f3 .uagb-post__text .uagb-post-grid-byline {color: #777;margin-bottom: 15px;}
.uagb-block-e3a12383-2225-4438-b7e4-09ecf378d4f3 .uagb-post__text .uagb-post-grid-byline .uagb-post__author {color: #777;}
.uagb-block-e3a12383-2225-4438-b7e4-09ecf378d4f3 .uagb-post__text .uagb-post-grid-byline .uagb-post__author a {color: #777;}
.uagb-block-e3a12383-2225-4438-b7e4-09ecf378d4f3 .uagb-post__text .uagb-post__excerpt {margin-bottom: 25px;}
.uagb-block-e3a12383-2225-4438-b7e4-09ecf378d4f3 .uagb-post__text .uagb-post__cta {color: #fff;background: #333;border-width: 1px;border-style: none;}
.uagb-block-e3a12383-2225-4438-b7e4-09ecf378d4f3 .uagb-post__text .uagb-post__cta a {color: #fff;padding: 5px 10px;}
.uagb-block-e3a12383-2225-4438-b7e4-09ecf378d4f3 .uagb-post__image:before {background-color: #fff;opacity: .5;}
@media only screen and (max-width: 767px) {.uagb-block-e3a12383-2225-4438-b7e4-09ecf378d4f3 .uagb-post__text {padding: px;}}